/**
 *
 *
 *
 *
 */
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_body.css.sass */
body {
  font-family: "Raleway";
  position: relative;
}
/* line 4, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck {
  background: #3d3629;
  color: #d6d68f;
}
/* line 8, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck p,
#buck #knife {
  margin-bottom: 30px;
}
/* line 12, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck #knife {
  display: block;
  width: 100%;
}

/* line 16, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck-logo {
  display: block;
  margin: 0 auto;
}

/* line 20, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy {
  text-align: center;
}
/* line 23, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a {
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  color: #d6d68f;
  text-decoration: none;
  z-index: 9998;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 34, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #d6d68f;
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 46, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a:hover {
  color: #3d3629;
}
/* line 49, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
/* line 54, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a:last-child {
  margin-bottom: 0;
}
/* line 57, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy span {
  display: block;
  margin-bottom: 30px;
}

/* line 61, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
/* line 66, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::before, #or::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: #d6d68f;
  position: absolute;
  top: calc(50% - 1px);
}
/* line 76, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::before {
  right: calc(50% + 20px);
}
/* line 79, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::after {
  left: calc(50% + 20px);
}

/* line 82, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
.contact {
  display: inline-block !important;
  margin: 0 20px;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_cms.css.sass */
textarea {
  width: 100%;
  font-size: 18px;
  color: black;
  letter-spacing: 1px;
}

/* line 7, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_cms.css.sass */
.choose_image {
  margin: 0 auto;
}

/* line 10, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_cms.css.sass */
.upload_form {
  text-align: center;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_eddie.css.sass */
#eddie {
  background: #1a1a1a;
  color: #d6d68f;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_footer.css.sass */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/* line 7, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_footer.css.sass */
footer p {
  margin: 0;
}
/* line 2, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_galleries.css.sass */
.gallery ul {
  padding: 0;
  margin: 0;
}
/* line 6, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_galleries.css.sass */
.gallery ul li {
  list-style: none;
  padding: 12px;
}
/* line 10, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_galleries.css.sass */
.gallery ul li div {
  background: transparent;
}
/* line 13, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_galleries.css.sass */
.gallery ul li img {
  display: block;
  width: 100%;
  cursor: pointer;
}
/* line 3, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
header {
  height: 500px;
}
/* line 6, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
header .bcg {
  background: url("/assets/footer_lodyas.png");
}

/* line 9, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 18, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
.hsContent {
  width: 100%;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center;
}
/* line 28, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
.hsContent *:not(img) {
  width: 100%;
}

/* line 31, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* line 39, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
#header-logo {
  position: relative;
}
/* line 42, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
#header-logo *:not(span) {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 47, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
#header-logo img {
  max-width: 100%;
}
/* line 50, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
#header-logo h2 {
  color: #d6d68f;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 90px;
  letter-spacing: 3px;
  text-shadow: 0 0 25px #000;
}
/* line 58, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
#header-logo span {
  font-size: 50%;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_login.css.sass */
#login {
  background: #3d3629;
  color: #d6d68f;
}
/* line 5, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_login.css.sass */
#login .col-md-10 {
  margin: 0 auto;
  float: none;
}
/* line 9, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_login.css.sass */
#login .page-header {
  margin-bottom: 40px;
}
/* line 12, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_login.css.sass */
#login .row {
  margin-bottom: 25px;
}
/* line 15, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_login.css.sass */
#login .row:last-child {
  margin-bottom: 0;
}
/* line 18, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_login.css.sass */
#login p {
  text-transform: uppercase;
  line-height: 34px;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_matt.css.sass */
.circimg {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #d6d68f;
  border-radius: 50%;
  overflow: hidden;
}
/* line 11, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_matt.css.sass */
.circimg img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #222;
}

/* line 16, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_matt.css.sass */
#matt {
  background: #2c3d29;
  color: #d6d68f;
}
/* line 5, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav {
  margin-bottom: 0 !important;
  position: absolute;
  top: 0;
  z-index: 9999;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
/* line 15, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav.affix {
  top: 0;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.9) !important;
}
/* line 21, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav ul {
  min-height: 70px;
}
/* line 24, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav ul * {
  height: 70px;
}
/* line 27, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav li {
  margin: 0 10px;
}
@media (min-width: 768px) {
  /* line 30, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
  nav li.active a::after {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 30, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
  nav li.active a::after {
    height: 100%;
  }
}
/* line 38, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-brand {
  position: relative;
}
/* line 41, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-brand img,
nav .navbar-brand span {
  display: inline-block;
}
/* line 45, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-brand img {
  max-height: 50px;
  left: 15;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 51, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-brand span {
  position: relative;
  left: 56px;
}
/* line 55, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav a {
  display: table-cell;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  color: #d6d68f !important;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 67, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav a:hover {
  color: #e7e7e7 !important;
}
/* line 71, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-right a::after {
  content: "";
  display: block;
  position: absolute;
  background: #6a7a52;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  /* line 71, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
  nav .navbar-right a::after {
    width: 0;
    height: 5px;
    bottom: 0;
  }
}
@media (max-width: 767px) {
  /* line 71, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
  nav .navbar-right a::after {
    width: 5px;
    height: 0;
    left: 0;
    top: 0;
  }
}
@media (min-width: 768px) {
  /* line 91, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
  nav .navbar-right a:hover::after {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 91, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
  nav .navbar-right a:hover::after {
    height: 100%;
  }
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_photos.css.sass */
#photos {
  background: #2c3d29;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section {
  padding: 50px 0;
}
/* line 4, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
}
/* line 13, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section .col {
  float: none !important;
  margin: 0 auto;
}
/* line 17, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section p,
section a,
section span {
  font-size: 18px;
  letter-spacing: 1px;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_videos.css.sass */
#videos {
  background: #1a1a1a;
}
/* line 4, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_videos.css.sass */
#videos .modal iframe {
  width: 100%;
  height: 500px;
  border: none;
  outline: none;
}
