/**
 *
 *
 *
 *
 */
/* line 1, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_body.css.sass */
body {
  font-family: "Raleway";
  position: relative;
}
/* line 4, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck {
  background: #3d3629;
  color: #d6d68f;
}
/* line 8, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck p,
#buck #knife {
  margin-bottom: 30px;
}
/* line 12, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck #knife {
  display: block;
  width: 100%;
}

/* line 16, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck-logo {
  display: block;
  margin: 0 auto;
}

/* line 20, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy {
  text-align: center;
}
/* line 23, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a {
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  color: #d6d68f;
  text-decoration: none;
  z-index: 9998;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 34, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #d6d68f;
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 46, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a:hover {
  color: #3d3629;
}
/* line 49, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
/* line 54, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy span {
  display: block;
  margin-bottom: 30px;
}

/* line 58, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
/* line 63, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::before, #or::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: #d6d68f;
  position: absolute;
  top: calc(50% - 1px);
}
/* line 73, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::before {
  right: calc(50% + 20px);
}
/* line 76, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::after {
  left: calc(50% + 20px);
}

/* line 79, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
.contact {
  display: inline-block !important;
  margin: 0 20px;
}
/* line 1, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_eddie.css.sass */
#eddie {
  background: #1a1a1a;
  color: #d6d68f;
}
/* line 1, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_footer.css.sass */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/* line 7, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_footer.css.sass */
footer p {
  margin: 0;
}
/* line 3, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
header {
  height: 500px;
}
/* line 6, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
header .bcg {
  background: url("/assets/footer_lodyas.png");
}

/* line 9, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 18, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center;
}

/* line 27, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* line 1, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_matt.css.sass */
.circimg {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #777;
  border-radius: 50%;
  overflow: hidden;
}
/* line 11, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_matt.css.sass */
.circimg img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #222;
}

/* line 16, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_matt.css.sass */
#matt {
  background: #2c3d29;
  color: #d6d68f;
}
/* line 5, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav {
  margin-bottom: 0 !important;
  z-index: 9999;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
/* line 13, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav.affix {
  top: 0;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.9) !important;
}
/* line 19, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav ul {
  min-height: 50px;
}
/* line 22, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav ul * {
  height: 50px;
}
/* line 25, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav li {
  margin: 0 10px;
}
/* line 28, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav li.active a::after {
  width: 100%;
}
/* line 31, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-right a {
  display: table-cell;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  color: #d6d68f !important;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 43, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-right a::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: #6a7a52;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 55, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-right a:hover {
  color: #e7e7e7 !important;
}
/* line 58, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-right a:hover::after {
  width: 100%;
}
/* line 1, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section {
  padding: 50px 0;
}
/* line 4, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
}
/* line 13, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section .col {
  float: none !important;
  margin: 0 auto;
}
/* line 17, /home/zack/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section p,
section a,
section span {
  font-size: 18px;
  letter-spacing: 1px;
}
