/**
 *
 *
 *
 *
 */
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck {
  background: orange;
}

/* line 4, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buck-logo {
  display: block;
  margin: 0 auto;
}

/* line 8, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy {
  text-align: center;
}
/* line 11, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy a {
  display: inline-block;
  padding: 10px;
  background: yellow;
}
/* line 17, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#buy span {
  display: block;
}

/* line 20, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
/* line 25, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::before, #or::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: black;
  position: absolute;
  top: calc(50% - 1px);
}
/* line 35, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::before {
  right: calc(50% + 20px);
}
/* line 38, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
#or::after {
  left: calc(50% + 20px);
}

/* line 41, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_buck.css.sass */
.contact {
  display: inline-block !important;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_footer.css.sass */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/* line 7, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_footer.css.sass */
footer p {
  margin: 0;
}
/* line 3, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_header.css.sass */
header {
  height: 500px;
}
/* line 5, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav {
  margin-bottom: 0 !important;
  z-index: 9999;
}
/* line 9, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav.affix {
  top: 0;
  left: 0;
  right: 0;
}
/* line 14, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav ul {
  min-height: 50px;
}
/* line 17, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav ul * {
  height: 50px;
}
/* line 20, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav li {
  margin: 0 10px;
}
/* line 23, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-right a {
  display: table-cell;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  text-transform: uppercase;
}
/* line 32, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-right a::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: orange;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 44, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_nav.css.sass */
nav .navbar-right a:hover::after {
  width: 100%;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section {
  padding: 50px 0;
}
/* line 4, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section h1 {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
}
/* line 12, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_sections.css.sass */
section .col {
  float: none !important;
  margin: 0 auto;
}
/* line 1, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_story.css.sass */
.circimg {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #777;
  border-radius: 50%;
  overflow: hidden;
}
/* line 11, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_story.css.sass */
.circimg img {
  width: 100%;
  border-radius: 50%;
}

/* line 15, /home/iqover9000/Documents/rails/mwg/app/assets/stylesheets/custom/partials/_story.css.sass */
#story {
  background: red;
}
