<%
meta title: "Login - Matt Would Go",
     description: "This is the login page."
%>

<section id="login">

  <div class="container">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="col-md-10">

        <div class="page-header">
          <h1>Login <small>Admin only</small></h1>
        </div>

        <div class="row">

          <div class="col-xs-4">
            <p>Email Address</p>
          </div>

          <div class="col-xs-8">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-xs-4">
            <p>Password</p>
          </div>

          <div class="col-xs-8">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-eye-close"></span></span>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-xs-4">

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <label for="user_remember_me">
                  <span class="eleganticon"></span>Remember Me
                </label>
              </div>
            <% end -%>

          </div>

          <div class="col-xs-8">

            <div class="actions">
              <button type="submit" name="commit">Log in</button>
            </div>

          </div>

        </div>

      </div>

    <% end %>

  </div>

</section>