#buck
	background: orange

	p,
	#knife
		margin-bottom: 30px

#buck-logo
	display: block
	margin: 0 auto

#buy
	text-align: center

	a
		display: inline-block
		margin-bottom: 30px
		padding: 10px
		background: yellow

	span
		display: block
		margin-bottom: 30px

#or
	position: relative
	text-align: center
	text-transform: uppercase

	&::before,
	&::after
		content: ''
		display: block
		width: 100px
		height: 2px
		background: black
		position: absolute
		top: calc(50% - 1px)

	&::before
		right: calc(50% + 20px)

	&::after
		left: calc(50% + 20px)

.contact
	display: inline-block !important
	margin: 0 20px
	margin-bottom: 0 !important