<section id="login">

	<div class="container">

		<form>

			<div class="col-md-10">

				<div class="page-header">
					<h1>Login <small>Admin only</small></h1>
				</div>

				<div class="row">

					<div class="col-xs-4">
						<p>Username</p>
					</div>

					<div class="col-xs-8">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
							<input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-xs-4">
						<p>Password</p>
					</div>

					<div class="col-xs-8">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-eye-close"></span></span>
							<input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
						</div>
					</div>

				</div>

			</div>

		</form>

	</div>

</section>