<section id="photos" class="gallery">
	
	<div class="container">

		<!-- <ul class="row"> -->

			<% if @images != nil %>
				<% i = 0 %>
				<% @images.each do |image| %>

					<% if i % 4 == 0 %>
						<div class="row">
					<% end %>

					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 thumb">
						<div class="thumbnail">
							<%= image_tag image.image, large_image: image.image %>
							<%= cms_delete( image, "photos/delete") %>
						</div>
					</div>
					<% i += 1 %>

					<% if i % 4 == 0 %>
						</div>
					<% end %>
				<% end %>	

			<% end %>

		<!-- </ul> -->

		<%= cms_upload_url(:image, :image, "Upload New Image", "/photos/add") %>

	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">         
        <div class="modal-body">                
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</section>

<script>
	$(document).ready(function() {
		$('#home').removeClass('active');
		$('#photo-link').addClass('active');
	})
</script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.thumbnail img').on('click',function(){
	    var src = $(this).attr('large_image');
	    var img = '<img src="' + src + '" class="img-responsive"/>';
	    $('#myModal').modal();
	    $('#myModal').on('shown.bs.modal', function(){
        $('#myModal .modal-body').html(img);
	    });
	    $('#myModal').on('hidden.bs.modal', function(){
        $('#myModal .modal-body').html('');
	    });
		});  
	})
</script>