<%
meta title: "Videos - Matt Would Go",
     description: "This is the videos page."
%>

<section id="videos" class="gallery">
	
	<div class="container">

		<ul class="row">

			

		</ul>

	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">         
        <div class="modal-body">                
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</section>

<script>
	$(document).ready(function() {
		$('#home').removeClass('active');
		$('#video-link').addClass('active');
	})
</script>

<script type="text/javascript">
	$(document).ready(function(){
		$('li img').on('click',function(){
	    var src = $(this).attr('src');
	    var iframe = '<iframe src="https://www.youtube.com/embed/XgNROudDNDs?autoplay=1"></iframe>';
	    $('#myModal').modal();
	    $('#myModal').on('shown.bs.modal', function(){
        $('#myModal .modal-body').html(iframe);
	    });
	    $('#myModal').on('hidden.bs.modal', function(){
        $('#myModal .modal-body').html('');
	    });
		});  
	})
</script>